<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- EventLogHelper configuration -->
  <appSettings>
    <add key="EventLogHelper.LogName" value="Event Log Tester" />
    <add key="EventLogHelper.RetentionDays" value="7" />
    <add key="EventLogHelper.MaxKilobytes" value="1048576" />
    <add key="EventLogHelper.ContinuationMarker" value=" Continued..." />
    <add key="EventLogHelper.AllowMultiEntryMessages" value="true" />
    <add key="EventLogHelper.SourceResolutionBehavior" value="UseLogsDefaultSource"/>
  </appSettings>
</configuration>
